<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<nav th:replace="layout/layout :: sidebar"></nav>

	<div class="p-5 content justify-content-center">
		<div th:replace="flashMessages :: flashMessages"></div>


		<div class="card mb-4">
			<div class="card-header">Administrar Facturas</div>
			<div class="card-body">
				<table id="invoicesTable" class="table display table-striped">
					<!-- Header Table -->
					<thead>
						<tr>
							<th>Id</th>
							<th>Descripcion</th>
							<th>Cliente</th>
							<th>Fecha</th>
							<th>Vendedor</th>
							<th>Total</th>
							<th>Accion</th>
						</tr>
					</thead>
					<!-- Footer Table -->
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Descripcion</th>
							<th>Cliente</th>
							<th>Fecha</th>
							<th>Vendedor</th>
							<th>Total</th>
							<th>Accion</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	<footer> </footer>
</body>
</html>
